@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

// Mixins

@mixin standart-link {
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
}

@mixin hovered-link {
    color: #efb841;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

@mixin button {
    width: 200px;
    height: 50px;
    background: #3b873b;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
        background: #fff;
        color: #3b873b;
        transition: color, .2s ease-in-out;
    }
}

@mixin description-text {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

@mixin title_h3 {
    text-transform: uppercase;
    font-size: 34px;
    align-self: center;
    color: #514e4e;
    padding-bottom: 50px;
    letter-spacing: 2px;
    width: 100%;
}

// Common styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

a:active,
a:visited {
    @include standart-link();
    color: inherit;
}

.hidden {
    display: none;
}


// Header styles start

.header {
    display: flex;
    width: 100%;
    background: #514e4e;
    padding: 20px 0;
    justify-content: space-around;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 5;

    img {
        width: 200px;
        height: 50px;
    }

    &-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        justify-content: space-around;

        &__items {
            ul {
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;
            }
        }

        &__item {
            @include standart-link();
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
            position: relative;

            &:hover {
                .dropdown {
                    display: block;
                    position: absolute;
                    background: #514e4e;
                    top: 100%;
                    padding: 40px 10px 20px;
                    min-width: 200px;
                    text-align: left;
                    left: -20px;
                    border-radius: 10px;
                    z-index: 3;

                    &-item {
                        display: block;
                        background-color: #514e4e;
                        text-decoration: none;
                        padding: 20px 0;
                        cursor: pointer;
                        z-index: 3;
                        color: #fff;
                        font-size: 0.9em;

                        &:last-child {
                            padding-bottom: 10px;
                        }

                        &:hover {
                            color: #efb841;
                            transition: background-color, .2s ease-in-out;
                        }
                    }
                }
            }
            
            a {
                @include standart-link();
                color: #fff;

                &:hover {
                    @include hovered-link();
                }
            }
        }

        &__contacts {
            span {
                a {
                    @include standart-link();
                    color: #fff;

                    &:hover {
                        @include hovered-link()
                    }
                }
            }
        }
    }
}

.dropdown {
    list-style-type: none;
    display: none;

    &-item {
        display: none;
    }
}

// Header styles end

// Main styles

.instruction {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    h4 {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        font-size: 1.3em;
        margin: 20px 0;
    }

    p {
        width: 80%;
        margin: 10px auto;
    }
}

.table {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    background: #cdcaca;

    table {
        width: 100%;
        margin: 0 auto;
    }

    tr {
        width: 100%;
        text-align: center; 

        td {
            width: 25%;
            height: fit-content;
            text-align: center;
            border: 1px solid black;
            padding: 10px 20px;
        }
    }
}

.calculator {
    margin-top: 100px;
}



// Footer styles

footer {
    width: 100%;
    position: inherit;
    bottom: 0;
    left: 0;
    height: 300px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
}

.footer-contacts {
    margin-top: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;

    h4 {
        font-size: 18px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p {
        font-size: 16px;

        a {
            @include standart-link();
            font-weight: 700;
            
            &:hover {
                @include hovered-link();
            }
        }

        i {
            color: #514e4e;
            margin-right: 5px;
        }
    }
}

.footer-menu {
    width: 60%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__item {
        height: fit-content;
        display: flex;
        flex-direction: column;

        h4 {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 40px;
        }

        ul {
            li {
                text-decoration:  none;
                list-style-type: none;
                margin-bottom: 20px;

                a {
                    @include standart-link();
                    color: #efb841;

                    &:hover {
                        @include hovered-link();
                        color: #3b873b;
                    }
                }
            }
        }
    }

}

// Footer styles end

// Media queries



.burger {
    display: none;
    width: 50px;
    height: 50px;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

@media screen and (max-width: 1000px) {
    .burger {
        display: block;
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
        position: fixed;
        margin: 70px auto;
        background: #514e4e;
        width: 100%;

        .first-level-menu {
            width: 100%;
            display: block;
            position: relative;
            left: 50px;
            font-size: 1.2em;
            list-style-type: none;

            a {
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }

            li {
                list-style: none;
            }

            li:last-child {
                padding-bottom: 50px;
            }
        }

        .second-level-menu {
            display: block;
            position: relative;
            left: 50%;
            width: 50%;
            background: #514e4e;

            li {
                font-size: 0.7em;
                margin: 10px 0;
            }
        }
    }

    .header {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        gap: 50px;

        &-menu {
            display: none;
            position: absolute;
            top: 80px;
            width: 100%;
            padding: 100px 0;
            background: #514e4e;
        }
    }
}

@media screen and (max-width: 810px) {
    .footer-content {
        gap: 40px;
    }

    .footer-contacts {
        h4 {
            font-size: 1em;
        }

        p {
            font-size: 0.8em;
        }
    }

    .footer-menu {
        &__item {
            h4 {
                font-size: 1em;
            }

            ul {
                li {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

    // Common media

    * {
        overflow-x: hidden;
    }

    .active-link {
        color: #efb841 !important;
    }

    .header {
        width: 100%;
        justify-content: space-around;
        padding: 20px;
        align-items: center;

        .logo {
            width: 50%;
            height: 50%;
        }

        .burger {
            width: 20%;
            height: 20%;
        }
    }

    .mobile-item {
        i {
            color: #fff;
            font-size: 0.6em;
            margin-left: 10px;
            text-align: center;
        }
    }

    .mobile-menu {
        display: block;
        position: fixed;
        margin: 70px auto;
        background: #514e4e;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;

        .first-level-menu {
            width: 100%;
            display: block;
            position: relative;
            left: 50px;
            font-size: 1.2em;
            list-style-type: none;

            a {
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }

            li {
                list-style: none;
                padding: 10px 0;
                height: 100%;
            }
        }

        .second-level-menu {
            display: none;
            position: relative;
            left: 5px;
            width: 80%;
            background: #514e4e;
            height: fit-content;
            padding: 10px 0;

            li {
                font-size: 0.8em;
            }
        }
    }

    .footer-content {
        width: 100%;
        padding: 10px;
        position: absolute;
        flex-direction: column;
    }

    .footer-contacts {
        width: 100%;

            p {
                font-size: 0.8em;
            }
    }

    .footer-menu {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .instruction {
        width: 100%;
        
        h4 {
            font-size: 1em;
        }

        p {
            width: 90%;
            font-size: 0.8em;
        }
    }

    .table {
        width: 100%;

        table {
            width: 100%;

            tbody {
                width: 100%;

                tr {
                    width: 100%;

                    td {
                        width: 100%;
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}