@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("/styles/common/common.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

a:active,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: inherit;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  background: #514e4e;
  padding: 20px 0;
  justify-content: space-around;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 5;
}
.header img {
  width: 200px;
  height: 50px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.header-menu__items ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.header-menu__item {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  position: relative;
}
.header-menu__item:hover .dropdown {
  display: block;
  position: absolute;
  background: #514e4e;
  top: 100%;
  padding: 40px 10px 20px;
  min-width: 200px;
  text-align: left;
  left: -20px;
  border-radius: 10px;
  z-index: 3;
}
.header-menu__item:hover .dropdown-item {
  display: block;
  background-color: #514e4e;
  text-decoration: none;
  padding: 20px 0;
  cursor: pointer;
  z-index: 3;
  color: #fff;
  font-size: 0.9em;
}
.header-menu__item:hover .dropdown-item:last-child {
  padding-bottom: 10px;
}
.header-menu__item:hover .dropdown-item:hover {
  color: #efb841;
  transition: background-color, 0.2s ease-in-out;
}
.header-menu__item a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: #fff;
}
.header-menu__item a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.header-menu__contacts span a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: #fff;
}
.header-menu__contacts span a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.dropdown {
  list-style-type: none;
  display: none;
}
.dropdown-item {
  display: none;
}

.main-desc {
  padding-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.main-desc__text {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
}
.main-desc__text .text h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.9em;
  padding-bottom: 20px;
}
.main-desc__text .text p {
  margin: 10px auto;
}
.main-desc__text .buttons {
  display: flex;
  gap: 40px;
}
.main-desc__text .buttons button {
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #3b873b;
  font-size: 16px;
  letter-spacing: 2px;
}
.main-desc__text .buttons button:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.main-desc__text .buttons button:hover {
  background-color: #396839;
  color: #fff;
}
.main-desc__text .buttons button a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: #fff;
}
.main-desc__text .buttons button a:hover {
  cursor: pointer;
}
.main-desc__text .buttons .b24-form-click-btn-wrapper button {
  font-size: 16px;
  font-weight: 400;
}

.advantage {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  margin: 100px auto;
  gap: 50px;
  align-items: center;
}
.advantage-item {
  width: 45%;
  display: flex;
  gap: 30px;
  height: 100px;
}
.advantage-item img {
  width: 40px;
  height: 40px;
}
.advantage-item div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantage-item div h3 {
  text-transform: uppercase;
  color: #3b873b;
}

.scheme {
  display: flex;
  margin: 30px auto;
  justify-content: space-around;
}
.scheme-img {
  width: 40%;
}
.scheme-img img {
  width: 100%;
}
.scheme-desc {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 30px;
}
.scheme-desc h3 {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
}
.scheme-desc__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.scheme-desc__item h4 {
  width: 80%;
}
.scheme-desc__item p {
  color: #3b873b;
  border: 2px solid #3b873b;
  border-radius: 100%;
  padding: 10px;
  font-weight: 700;
  margin-right: 20px;
  width: 40px;
  text-align: center;
}
.scheme-desc__item span {
  padding-left: 70px;
  font-size: 14px;
}

.catalogue {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalogue h3 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin-bottom: 50px;
}
.catalogue-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.catalogue-item img {
  width: 80%;
}
.catalogue-item h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
  font-size: 1.3em;
}
.catalogue-item button {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #3b873b;
  cursor: pointer;
}
.catalogue-item button a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.catalogue-item p {
  text-transform: uppercase;
  font-size: 1em;
}
.catalogue-item p b {
  color: #3b873b;
}

.info {
  display: flex;
  gap: 50px;
  margin: 50px auto;
}
.info p {
  width: 70%;
  text-align: center;
}

.info-main {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 150px auto 20px;
  align-items: center;
}
.info-main__text {
  display: flex;
  flex-wrap: wrap;
}
.info-main__text h4 {
  text-transform: uppercase;
  width: 100%;
  padding: 50px 0;
  font-size: 1.3em;
}
.info-main__text ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: left;
  font-weight: 700;
}
.info-main__text ul li {
  padding: 15px 30px;
  background-color: #a5a0a0;
  margin-right: 50px;
  border-radius: 10px;
  font-weight: 400;
}
.info-main__text button {
  margin: 50px auto;
  padding: 10px 25px;
  background: #3b873b;
  border: none;
  outline: none;
}
.info-main__text button a {
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.info-main__text button a:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.info-main__text button a:hover {
  background: #3b873b;
  color: #fff;
}

.brick-grid__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.brick-grid__text .brick-grid__item {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.technical {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.technical h4 {
  text-transform: uppercase;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-size: 1.4em;
}
.technical-item {
  display: flex;
  gap: 30px;
  width: 100%;
}
.technical-item span {
  width: 25%;
  padding: 10px 20px;
  background: #3b873b;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.technical-value {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}
.technical-value span {
  width: 25%;
  padding: 10px 20px;
  background: #3b873b;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.surfaces {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 30px auto;
}
.surfaces h4 {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 40px;
}
.surfaces-img {
  display: flex;
  gap: 20px;
}
.surfaces-img img {
  width: 100%;
}

.interior {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px auto;
  align-items: center;
  flex-direction: row;
}
.interior h4 {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 40px;
}
.interior img {
  width: 30%;
}
.interior img:hover {
  transform: scale(1.3);
  border: 2px solid #3b873b;
}
.interior-img {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.preferences {
  display: flex;
  flex-direction: column;
}
.preferences h4 {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 50px;
}
.preferences-item {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  padding: 10px 50px;
}
.preferences-item i {
  color: #3b873b;
}

.cta-block {
  display: flex;
  gap: 50px;
  width: 70%;
  margin: 60px auto;
}
.cta-block p {
  text-align: center;
}

footer {
  width: 100%;
  position: inherit;
  bottom: 0;
  left: 0;
  height: 300px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
}

.footer-contacts {
  margin-top: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.footer-contacts h4 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-contacts p {
  font-size: 16px;
}
.footer-contacts p a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  font-weight: 700;
}
.footer-contacts p a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.footer-contacts p i {
  color: #514e4e;
  margin-right: 5px;
}

.footer-menu {
  width: 60%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-menu__item {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.footer-menu__item h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 40px;
}
.footer-menu__item ul li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 20px;
}
.footer-menu__item ul li a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: #efb841;
}
.footer-menu__item ul li a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  color: #3b873b;
}

@media screen and (max-width: 1000px) {
  .burger {
    display: block;
    cursor: pointer;
    width: 50px !important;
  }
  .mobile-menu {
    display: flex;
    position: fixed;
    margin: 60px auto;
    background: #514e4e;
    width: 100%;
    height: 100%;
  }
  .mobile-menu .first-level-menu {
    width: 100%;
    display: block;
    position: absolute;
    overflow: scroll;
    left: 50px;
    font-size: 1.2em;
    list-style-type: none;
    padding-bottom: 100px;
    max-height: 100%;
  }
  .mobile-menu .first-level-menu a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  .mobile-menu .first-level-menu li {
    list-style: none;
    margin: 10px 0;
  }
  .mobile-menu .first-level-menu li:last-child {
    padding-bottom: 50px;
  }
  .mobile-menu .second-level-menu {
    display: none;
    position: relative;
    left: 50%;
    top: 0;
    width: 50%;
    background: #514e4e;
  }
  .mobile-menu .second-level-menu li {
    font-size: 0.7em;
    margin: 10px 0;
  }
  .header {
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    gap: 50px;
    padding: 10px;
  }
  .header-menu {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 100px 0;
    background: #514e4e;
  }
  .main-desc {
    width: 100%;
    justify-content: center;
    padding: 120px 10px;
  }
  .main-desc img {
    width: 40%;
  }
  .main-desc__text {
    width: 60%;
  }
  .main-desc__text .text {
    width: 100%;
  }
  .main-desc__text .text h2 {
    font-size: 1.2em;
  }
  .advantage {
    width: 100%;
    flex-direction: row;
    margin: 30px auto;
    align-items: center;
    padding: 0 10px;
  }
  .advantage-item {
    width: 45%;
  }
  .scheme {
    width: 100%;
    padding: 0 10px;
  }
  .scheme-img {
    width: 40%;
  }
  .scheme-desc {
    width: 60%;
  }
  .scheme-desc h3 {
    font-size: 1.2em;
  }
  .catalogue {
    width: 100%;
  }
  .catalogue-item {
    width: 24%;
  }
  .catalogue-item h4 {
    font-size: 1em;
  }
  .catalogue-item p {
    font-size: 0.8em;
  }
  .info {
    width: 80%;
  }
  .info p {
    font-size: 0.8em;
  }
  .info-main {
    width: 100%;
  }
  .info-main__img {
    width: 50%;
  }
  .info-main__img img {
    width: 100%;
  }
  .info-main__text {
    width: 40%;
    justify-content: space-between;
  }
  .info-main__text ul {
    width: 50%;
  }
  .info-main__text ul li {
    font-size: 0.8em;
    height: 100%;
    text-align: center;
  }
  .technical {
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .active-link {
    color: #efb841 !important;
  }
  .header {
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
  }
  .header .logo {
    width: 50%;
    height: 50%;
  }
  .header .burger {
    width: 20%;
    height: 20%;
  }
  .mobile-item i {
    color: #fff;
    font-size: 0.6em;
    margin-left: 10px;
    text-align: center;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    margin: 60px auto;
    background: #514e4e;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  .mobile-menu .first-level-menu {
    width: 100%;
    display: block;
    position: relative;
    left: 50px;
    font-size: 1.2em;
    list-style-type: none;
  }
  .mobile-menu .first-level-menu a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  .mobile-menu .first-level-menu li {
    list-style: none;
    padding: 10px 0;
    height: 100%;
  }
  .mobile-menu .second-level-menu {
    display: none;
    position: relative;
    left: 5px;
    width: 80%;
    background: #514e4e;
    height: fit-content;
    padding: 10px 0;
  }
  .mobile-menu .second-level-menu li {
    font-size: 0.8em;
  }
  .header-menu {
    display: none;
  }
  .main-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
  }
  .main-desc__text {
    width: 100%;
    align-items: center;
  }
  .main-desc__text .text {
    padding: 10px;
    width: 100%;
    text-align: left;
  }
  .advantage {
    width: 100%;
    margin: 10px auto;
  }
  .advantage-item {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  .advantage-item div {
    width: 100%;
    height: 100%;
  }
  .advantage-item div h3 {
    height: 100%;
    font-size: 1em;
  }
  .advantage-item div p {
    height: 100%;
    font-size: 0.8em;
  }
  .scheme {
    width: 100%;
    flex-direction: column;
  }
  .scheme-img {
    width: 100%;
  }
  .scheme-desc {
    width: 100%;
    height: 100%;
  }
  .scheme-desc h3 {
    font-size: 1.3em;
  }
  .scheme-desc__item {
    width: 90%;
    height: 100%;
    margin: auto;
    align-items: center;
  }
  .scheme-desc__item p {
    width: 10%;
  }
  .catalogue {
    width: 100%;
    justify-content: space-around;
  }
  .catalogue h3 {
    margin: 20px 0;
    font-size: 1.2em;
  }
  .catalogue-item {
    width: 30%;
  }
  .catalogue-item h4 {
    font-size: 1em;
  }
  .catalogue-item p {
    font-size: 0.8em;
  }
  .info-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 90px auto 0;
  }
  .info-main h4 {
    width: 100%;
    text-align: center;
    padding: 0 0 20px;
  }
  .info-main__text {
    width: 100%;
  }
  .info-main__text ul {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
  .info-main__text ul li {
    margin: 0;
    font-size: 0.9em;
    height: 100%;
    text-align: center;
    padding: 20px;
  }
  .info-main__text .brick-grid__text h4 {
    font-size: 1.3em;
  }
  .info-main__text .brick-grid__item {
    width: 90%;
  }
  .technical {
    width: 100%;
  }
  .technical h4 {
    font-size: 1.3em;
  }
  .technical-item {
    width: 100%;
    text-align: center;
  }
  .technical-item span {
    font-size: 0.7em;
    padding: 10px 0;
  }
  .technical-value {
    width: 100%;
    text-align: center;
  }
  .technical-value span {
    font-size: 0.7em;
    padding: 10px 0;
  }
  .surfaces {
    width: 100%;
  }
  .surfaces h4 {
    font-size: 1.1em;
  }
  .interior {
    width: 100%;
  }
  .preferences {
    width: 100%;
  }
  .preferences h4 {
    width: 90%;
    margin: 10px auto;
    font-size: 1.1em;
  }
  .preferences-item {
    padding: 0 10px;
    justify-content: center;
  }
  .preferences-item i {
    width: 10%;
  }
  .preferences-item p {
    width: 80%;
    margin-bottom: 10px;
  }
  .cta-block {
    width: 100%;
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
  }
  .info {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .info p {
    font-size: 0.8em;
    height: 100px;
    width: 80%;
  }
  .footer-content {
    flex-direction: column;
    position: absolute;
    padding: 0 10px;
  }
  .footer-contacts {
    width: 100%;
    padding: 20px 0;
    position: relative;
  }
  .footer-contacts p {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .footer-menu {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .footer-menu__item h4 {
    margin: 10px 0;
  }
  .footer-menu__item ul li {
    font-size: 0.9em;
  }
}

/*# sourceMappingURL=style.css.map */
