@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

// Mixins

@mixin standart-link {
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
}

@mixin hovered-link {
    color: #efb841;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

@mixin button {
    width: 200px;
    height: 50px;
    background: #3b873b;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
        background: #fff;
        color: #3b873b;
        transition: color, .2s ease-in-out;
    }
}

@mixin description-text {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

@mixin title_h3 {
    text-transform: uppercase;
    font-size: 34px;
    align-self: center;
    color: #514e4e;
    padding-bottom: 50px;
    letter-spacing: 2px;
    width: 100%;
}

// Common styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

a:active,
a:visited {
    @include standart-link();
    color: inherit;
}

// Header styles start

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    width: 100%;
    background: #514e4e;
    padding: 20px 0;
    justify-content: space-around;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 5;

    .logo {
        width: 200px;
        height: 50px;
    }

    &-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        justify-content: space-around;

        &__items {
            ul {
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;
                
            }
        }

        &__item {
            @include standart-link();
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
            position: relative;

            &:hover {
                .dropdown {
                    display: block;
                    position: absolute;
                    background: #514e4e;
                    top: 100%;
                    padding: 40px 10px 20px;
                    min-width: 200px;
                    text-align: left;
                    left: -20px;
                    border-radius: 10px;
                    z-index: 3;

                    &-item {
                        display: block;
                        background-color: #514e4e;
                        text-decoration: none;
                        padding: 20px 0;
                        cursor: pointer;
                        z-index: 3;
                        color: #fff;
                        font-size: 0.9em;

                        &:last-child {
                            padding-bottom: 10px;
                        }

                        &:hover {
                            color: #efb841;
                            transition: background-color, .2s ease-in-out;
                        }
                    }
                }
            }
            
            a {
                @include standart-link();
                color: #fff;

                &:hover {
                    @include hovered-link();
                }
            }
        }

        &__contacts {
            span {
                a {
                    @include standart-link();
                    color: #fff;

                    &:hover {
                        @include hovered-link()
                    }
                }
            }
        }
    }
}

.dropdown {
    list-style-type: none;
    display: none;

    &-item {
        display: none;
    }
}
// Header styles end

// Main styles start

main {
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        width: 25%;
        height: 350px;
    }
}

.main-cart {
    display: flex;
    flex-direction: row;
    background: #2e2c33;

    &__item {
        width: 25%;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        color: #fff;

        &:hover {
            background: #3b873b;

            button {
                border: 1px solid #fff; 
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 1.3em;
            align-self: center;
            color: #fff;
            padding-bottom: 50px;
        }

        p {
            align-self: center;
            padding: 30px 20px;
            text-align: center;
            height: 200px;
            @include description-text();
        }

        button {
            @include button();
            align-self: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: #fff;

            &:hover {
                background: #3b873b
            }

            a {
                @include standart-link();
                cursor: pointer;
                color: #fff;
            }
        }
    }
}

.main-advantage {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px 0;
    height: fit-content;

        h3 {
            font-size: 34px;
            font-family: 'Roboto';
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 100%;
            margin-top: 50px;
            color: #514e4e;
        }

        &__info {
            display: flex;
            flex-direction: row;
        }

        &__item {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            margin: 0 auto;
        
            i {
                color: #3b873b;
                font-size: 50px;
                margin-top: 50px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 20px;
                margin-top: 20px;
                color: #868282;
                font-family: 'Roboto';
            }

            p {
                padding-top: 30px;
                font-size: 14px;
                font-family: 'Roboto';
            }
        }
}

.faq {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px auto;

    h3 {
        position: static;
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 2px;
        width: 100%;
        color: #514e4e;
    }
    
    &-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__img {
        width: 40%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-transform: uppercase;
            color: #868282;
            font-weight: 700;
            font-size: 30px;
            text-align: center;
            margin-bottom: 50px;
        }

        button {
            @include button();
            font-size: 20px;
            width: 450px;
            margin-top: 50px;
            background: #3b873b;
        }

        img {
            width: 100%;
        }
    }

    &-items {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: left;

        &__item {
            i {
                position: relative;
                top: 30px;
                left: -50px;
                font-size: 30px;
                color: #3b873b;
                cursor: pointer;
            }

            h4 {
                color: #2e2c33;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 10px;

                &:hover {
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
}

.main-usage {
    display: flex;
    flex-direction: column;

    h3 {
        @include title_h3();
        text-align: center;
        color: #514e4e;
        font-size: 28px;
        margin-top: 40px;
    }
}

.usage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background: #b0b0b0;
    justify-content: center;
    gap: 30px;

    &-item {
        width: 20%;
        display: flex;
        flex-direction: column;

        h4 {
            text-transform: uppercase;
            font-size: 1.1em;
            padding: 20px 0;
            align-self: center;
            width: 100%;
            text-align: center;
        }

        img {
            width: 100%;
            padding: 30px 0;
            margin: 0 auto;
        }
    
        button {
            @include button();
            background: #000;
            width: 120px;
            font-size: 14px;
            margin-bottom: 40px;
            align-self: center;

            a {
                @include standart-link();
                color: #fff;
                cursor: pointer;
            }

            &:hover {
                background: #000;
                color: #fff;
                transform: scale(1.1);
                transition: transform, font-size .2s ease-in;
            }
        }

        &__wooden {
            max-width: 76%;
        }
    }
}

// Main styles end

// Footer styles

footer {
    width: 100%;
    position: inherit;
    bottom: 0;
    left: 0;
    height: 300px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
}

.footer-contacts {
    margin-top: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;

    h4 {
        font-size: 18px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p {
        font-size: 16px;

        a {
            @include standart-link();
            font-weight: 700;
            
            &:hover {
                @include hovered-link();
            }
        }

        i {
            color: #514e4e;
            margin-right: 5px;
        }
    }
}

.footer-menu {
    width: 60%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__item {
        height: fit-content;
        display: flex;
        flex-direction: column;

        h4 {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 40px;
        }

        ul {
            li {
                text-decoration:  none;
                list-style-type: none;
                margin-bottom: 20px;

                a {
                    @include standart-link();
                    color: #efb841;

                    &:hover {
                        @include hovered-link();
                        color: #3b873b;
                    }
                }
            }
        }
    }

}

// Footer styles end

// Media queries

@media screen and (max-width: 1000px){
    .burger {
        display: block;
        cursor: pointer;
        width: 50px !important;
    }

    .mobile-menu {
        display: flex;
        position: fixed;
        margin: 60px auto;
        background: #514e4e;
        width: 100%;
        height: 100%;

        .first-level-menu {
            width: 100%;
            display: block;
            position: absolute;
            overflow: scroll;
            left: 50px;
            font-size: 1.2em;
            list-style-type: none;
            padding-bottom: 100px;
            max-height: 100%;

            a {
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }

            li {
                list-style: none;
                margin: 10px 0;
            }

            li:last-child {
                padding-bottom: 50px;
            }
        }

        .second-level-menu {
            display: none;
            position: relative;
            left: 50%;
            top: 0;
            width: 50%;
            background: #514e4e;

            li {
                font-size: 0.7em;
                margin: 10px 0;
            }
        }
    }

    .header {
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
        gap: 50px;
        padding: 10px;

        &-menu {
            display: none;
            position: absolute;
            top: 80px;
            width: 100%;
            padding: 100px 0;
            background: #514e4e;
        }
    }

    .main-cart {
        width: 100%;
        height: 100%;

        &__item {
            width: 25%;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 0;

            h3 {
                font-size: 1em;
                text-align: center;
                height: 50px;
            }

            p {
                width: 100%;
                height: 300px;
                margin-bottom: 20px;
            }

            button {
                width: 80%;
            }
        }
    }

    .usage {
        height: auto;

        &-item {
            height: auto;

            h4 {
                font-size: 1em;
                height: 50px;
            }
        }
    }

    .b24-form-click-btn-wrapper {
        button {
            width: 100%;
        }
    }

}

@media screen and (max-width: 600px) {

    .burger {
        height: 100%;
    }

    * {
        overflow-x: hidden;
    }

    .active-link {
        color: #efb841 !important;
    }

    .header {
        width: 100%;
        justify-content: space-around;
        padding: 20px;
        align-items: center;

        &-menu {
            display: none;
        }

        .logo {
            width: 50%;
            height: 50%;
        }

        .burger {
            width: 20%;
            height: 20%;
        }
    }

    .mobile-item {
        i {
            color: #fff;
            font-size: 0.6em;
            margin-left: 10px;
            text-align: center;
        }
    }

    .mobile-menu {
        display: block;
        position: fixed;
        margin: 70px auto;
        background: #514e4e;
        width: 100%;
        top: 0;
        left: 0;

        .first-level-menu {
            width: 100%;
            display: block;
            position: relative;
            left: 50px;
            font-size: 1.2em;
            list-style-type: none;
            min-height: 700px;

            a {
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }

            li {
                list-style: none;
                padding: 10px 0;
                height: 100%;
            }
        }

        .second-level-menu {
            display: none;
            position: relative;
            left: 5px;
            width: 80%;
            background: #514e4e;
            height: fit-content;
            padding: 10px 0;

            li {
                font-size: 0.8em;
            }
        }
    }

    .main-image {
        width: 100%;
        height: 100%;
        margin-top: 20%;
    }

    .main-info {
        display: none;
    }

    .main-cart {
        flex-direction: column;
        width: 100%;

        &__item {
            width: 100%;
            height: fit-content;
            border-bottom: 1px solid #fff;

            h3 {
                padding: 0;
            }
            
            p {
                height: fit-content;
            }
        }
    }
    
    .main-advantage {
        margin: 0;
        padding: 0;

        &__info {
            flex-direction: column;
        }

        h3 {
            font-size: 1.2em;
            padding: 10px 5px;
        }

        &__item {
            width: 80%;

            i {
                font-size: 20px;
            }

            p {
                height: fit-content;
                padding: 10px 0;
            }
        }
    }

    .faq {
        width: 90%;
        display: flex;

        h3 {
            font-size: 1.1em;
        }

        &-items {
            width: 100%;
            display: flex;
            align-items: center;

            &__item {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    .faq-info {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    .faq__img {
        img, p {
            display: none;
        }

        div {
            button {
                width: 100%;
            }
        }
    }

    .main-usage {
        h3 {
            font-size: 0.9em;
        }
    }

    .usage {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        &-item {
            width: 80%;

            button {
                margin: 10px 0;
            }
        }
    }

    .footer-content {
        flex-direction: column;
        position: absolute;
    }

    .footer-contacts {
        width: 100%;
    }

    .footer-menu {
        flex-direction: column;
    }
}