@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

a:active,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  color: inherit;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.burger {
  display: none;
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  width: 100%;
  background: #514e4e;
  padding: 20px 0;
  justify-content: space-around;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 5;
}
.header .logo {
  width: 200px;
  height: 50px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.header-menu__items ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.header-menu__item {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  position: relative;
}
.header-menu__item:hover .dropdown {
  display: block;
  position: absolute;
  background: #514e4e;
  top: 100%;
  padding: 40px 10px 20px;
  min-width: 200px;
  text-align: left;
  left: -20px;
  border-radius: 10px;
  z-index: 3;
}
.header-menu__item:hover .dropdown-item {
  display: block;
  background-color: #514e4e;
  text-decoration: none;
  padding: 20px 0;
  cursor: pointer;
  z-index: 3;
  color: #fff;
  font-size: 0.9em;
}
.header-menu__item:hover .dropdown-item:last-child {
  padding-bottom: 10px;
}
.header-menu__item:hover .dropdown-item:hover {
  color: #efb841;
  transition: background-color, 0.2s ease-in-out;
}
.header-menu__item a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  color: #fff;
}
.header-menu__item a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.header-menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.header-menu__contacts span a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  color: #fff;
}
.header-menu__contacts span a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.dropdown {
  list-style-type: none;
  display: none;
}
.dropdown-item {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}

.main-image {
  width: 100%;
}
.main-image img {
  width: 100%;
  height: auto;
}

.main-slider {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.main-slider .slider {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 40px auto;
  width: 95%;
}
.main-slider .slider-item {
  width: 100%;
  background-color: #2e2c33;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
}
.main-slider .slider-item h3 {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  margin: 2em auto;
}
.main-slider .slider-item p {
  color: #fff;
  text-align: center;
  margin: 10px auto;
  padding: 0 20px;
  line-height: 1.5em;
  height: 100px;
}
.main-slider .slider-item button {
  width: 50%;
  margin: 2em auto;
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
}
.main-slider .slider-item button:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.main-slider .slider-item button:hover {
  background-color: #275d27;
}
.main-slider .slider-item button a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  color: #fff;
}
.main-slider .slider img {
  height: 200px;
  width: 100%;
}

.owl-nav {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 10%;
}
.owl-nav button {
  display: flex;
  width: 100%;
  height: 50px;
}
.owl-nav button span {
  width: 100px;
  align-self: center;
  font-size: 80px;
  color: #3b873b;
  cursor: pointer;
}
.owl-nav button span:hover {
  color: #275d27;
}

.main-cart {
  display: flex;
  flex-direction: row;
  background: #2e2c33;
}
.main-cart__item {
  width: 25%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  color: #fff;
}
.main-cart__item:hover {
  background: #3b873b;
}
.main-cart__item:hover button {
  border: 1px solid #fff;
}
.main-cart__item h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  align-self: center;
  color: #fff;
  padding-bottom: 50px;
  text-align: center;
}
.main-cart__item p {
  align-self: center;
  padding: 30px 20px;
  text-align: center;
  height: 200px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.main-cart__item button {
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
}
.main-cart__item button:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.main-cart__item button:hover {
  background: #3b873b;
}
.main-cart__item button a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  cursor: pointer;
  color: #fff;
}

.main-advantage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px 0;
  height: fit-content;
}
.main-advantage h3 {
  font-size: 34px;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 50px;
  color: #514e4e;
}
.main-advantage__info {
  display: flex;
  flex-direction: row;
}
.main-advantage__item {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin: 0 auto;
}
.main-advantage__item i {
  color: #3b873b;
  font-size: 50px;
  margin-top: 50px;
}
.main-advantage__item h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  color: #868282;
  font-family: "Roboto";
}
.main-advantage__item p {
  padding-top: 30px;
  font-size: 14px;
  font-family: "Roboto";
}

.faq {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto;
}
.faq h3 {
  position: static;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  width: 100%;
  color: #514e4e;
}
.faq-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.faq__img {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__img p {
  text-transform: uppercase;
  color: #868282;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.faq__img button {
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 20px;
  width: 450px;
  margin-top: 50px;
  background: #3b873b;
}
.faq__img button:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.faq__img img {
  width: 100%;
}
.faq-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.faq-items__item i {
  position: relative;
  top: 30px;
  left: -50px;
  font-size: 30px;
  color: #3b873b;
  cursor: pointer;
}
.faq-items__item h4 {
  color: #2e2c33;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 10px;
}
.faq-items__item h4:hover {
  color: #000;
  cursor: pointer;
}

.main-usage {
  display: flex;
  flex-direction: column;
}
.main-usage h3 {
  text-transform: uppercase;
  font-size: 34px;
  align-self: center;
  color: #514e4e;
  padding-bottom: 50px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  color: #514e4e;
  font-size: 28px;
  margin-top: 40px;
}

.usage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  background: #b0b0b0;
  justify-content: center;
  gap: 30px;
}
.usage-item {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.usage-item h4 {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 20px 0;
  align-self: center;
  text-align: center;
}
.usage-item img {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
}
.usage-item button {
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  background: #000;
  width: 120px;
  font-size: 14px;
  margin-bottom: 40px;
  align-self: center;
}
.usage-item button:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.usage-item button a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  color: #fff;
  cursor: pointer;
}
.usage-item button:hover {
  background: #000;
  color: #fff;
  transform: scale(1.1);
  transition: transform, font-size 0.2s ease-in;
}
.usage-item__wooden {
  max-width: 76%;
}

.popup {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.popup-text {
  display: flex;
}
.popup-text h4 {
  vertical-align: middle;
  width: 100%;
  padding: 0.5em;
  margin: 4em auto;
  color: #fff;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
.popup-text button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9em;
  right: 20%;
  background-color: #f6615e;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}
.popup-text button:hover {
  transform: scale(1.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #275d27;
  opacity: 0.9;
}

.disabled {
  display: none;
}

footer {
  width: 100%;
  position: inherit;
  bottom: 0;
  left: 0;
  height: 300px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
}

.footer-contacts {
  margin-top: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.footer-contacts h4 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-contacts p {
  font-size: 16px;
}
.footer-contacts p a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  font-weight: 700;
}
.footer-contacts p a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.footer-contacts p i {
  color: #514e4e;
  margin-right: 5px;
}

.footer-menu {
  width: 60%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-menu__item {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.footer-menu__item h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 40px;
}
.footer-menu__item ul li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 20px;
}
.footer-menu__item ul li a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
  color: #efb841;
}
.footer-menu__item ul li a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  color: #3b873b;
}

@media screen and (max-width: 1000px) {
  .burger {
    display: block;
    cursor: pointer;
    width: 50px !important;
  }
  .mobile-menu {
    display: flex;
    position: fixed;
    margin: 60px auto;
    background: #514e4e;
    width: 100%;
    height: 100%;
  }
  .mobile-menu .first-level-menu {
    width: 100%;
    display: block;
    position: absolute;
    overflow: scroll;
    left: 50px;
    font-size: 1.2em;
    list-style-type: none;
    padding-bottom: 100px;
    max-height: 100%;
  }
  .mobile-menu .first-level-menu a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  .mobile-menu .first-level-menu li {
    list-style: none;
    margin: 10px 0;
  }
  .mobile-menu .first-level-menu li:last-child {
    padding-bottom: 50px;
  }
  .mobile-menu .second-level-menu {
    display: none;
    position: relative;
    left: 50%;
    top: 0;
    width: 50%;
    background: #514e4e;
  }
  .mobile-menu .second-level-menu li {
    font-size: 0.7em;
    margin: 10px 0;
  }
  .header {
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    gap: 50px;
    padding: 10px;
  }
  .header-menu {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 100px 0;
    background: #514e4e;
  }
  .main-cart {
    width: 100%;
    height: 100%;
  }
  .main-cart__item {
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
  }
  .main-cart__item h3 {
    font-size: 1em;
    text-align: center;
    height: 50px;
  }
  .main-cart__item p {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .main-cart__item button {
    width: 80%;
  }
  .usage {
    height: auto;
  }
  .usage-item {
    height: auto;
  }
  .usage-item h4 {
    font-size: 1em;
    height: 50px;
  }
  .b24-form-click-btn-wrapper button {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .burger {
    height: 100%;
  }
  * {
    overflow-x: hidden;
  }
  .active-link {
    color: #efb841 !important;
  }
  .header {
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
  }
  .header-menu {
    display: none;
  }
  .header .logo {
    width: 50%;
    height: 50%;
  }
  .header .burger {
    width: 20%;
    height: 20%;
  }
  .mobile-item i {
    color: #fff;
    font-size: 0.6em;
    margin-left: 10px;
    text-align: center;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    margin: 60px auto;
    background: #514e4e;
    width: 100%;
    top: 0;
    left: 0;
  }
  .mobile-menu .first-level-menu {
    width: 100%;
    display: block;
    position: relative;
    left: 50px;
    font-size: 1.2em;
    list-style-type: none;
    min-height: 700px;
  }
  .mobile-menu .first-level-menu a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  .mobile-menu .first-level-menu li {
    list-style: none;
    padding: 10px 0;
    height: 100%;
  }
  .mobile-menu .second-level-menu {
    display: none;
    position: relative;
    left: 5px;
    width: 80%;
    background: #514e4e;
    height: fit-content;
    padding: 10px 0;
  }
  .mobile-menu .second-level-menu li {
    font-size: 0.8em;
  }
  .main-image {
    width: 100%;
    height: 100%;
    margin-top: 20%;
  }
  .main-slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: hidden;
    position: static;
  }
  .main-slider .slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 40px auto;
    width: 95%;
  }
  .main-slider .slider-item {
    width: 100%;
    background-color: #2e2c33;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    overflow-y: hidden;
  }
  .main-slider .slider-item img {
    height: 180px;
    overflow-y: hidden;
  }
  .main-slider .slider-item h3 {
    text-align: center;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    margin: 1em 0;
    height: 60px;
    overflow-y: hidden;
  }
  .main-slider .slider-item p {
    width: 100%;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 10px;
    line-height: 1.2em;
    font-size: 0.75em;
    height: 250px;
    overflow-y: hidden;
  }
  .main-slider .slider-item button {
    width: 80%;
    margin: 1em auto;
  }
  .main-slider .slider-item button:hover {
    background-color: #275d27;
  }
  .main-slider .slider-item button a {
    cursor: pointer;
    color: #fff;
    font-size: 0.8em;
  }
  .main-slider .slider img {
    height: 200px;
    width: 100%;
  }
  .owl-nav {
    width: 50%;
    margin: 0 auto;
    padding: 20px auto;
  }
  .owl-nav button {
    height: auto;
  }
  .owl-nav button span {
    overflow: hidden;
  }
  .main-cart {
    flex-direction: column;
    width: 100%;
  }
  .main-cart__item {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #fff;
  }
  .main-cart__item h3 {
    padding: 0;
  }
  .main-cart__item p {
    height: fit-content;
  }
  .main-advantage {
    margin: 0;
    padding: 0;
  }
  .main-advantage__info {
    flex-direction: column;
  }
  .main-advantage h3 {
    font-size: 1.2em;
    padding: 10px 5px;
  }
  .main-advantage__item {
    width: 80%;
  }
  .main-advantage__item i {
    font-size: 20px;
  }
  .main-advantage__item p {
    height: fit-content;
    padding: 10px 0;
  }
  .faq {
    width: 90%;
    display: flex;
  }
  .faq h3 {
    font-size: 1.1em;
  }
  .faq-items {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .faq-items__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .faq-info {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .faq__img img, .faq__img p {
    display: none;
  }
  .faq__img div button {
    width: 100%;
  }
  .main-usage h3 {
    font-size: 0.9em;
  }
  .usage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .usage-item {
    width: 80%;
  }
  .usage-item button {
    margin: 10px 0;
  }
  .popup button {
    top: 5%;
    right: 10%;
  }
  .popup h4 {
    margin: 2em auto;
  }
  .footer-content {
    flex-direction: column;
    position: absolute;
    padding: 0 10px;
  }
  .footer-contacts {
    width: 100%;
    padding: 20px 0;
    position: relative;
  }
  .footer-contacts p {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .footer-menu {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .footer-menu__item h4 {
    margin: 10px 0;
  }
  .footer-menu__item ul li {
    font-size: 0.9em;
  }
}

/*# sourceMappingURL=style.css.map */
