@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

a:active,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: inherit;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  background: #514e4e;
  padding: 20px 0;
  justify-content: space-around;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 5;
}
.header img {
  width: 200px;
  height: 50px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.header-menu__items ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.header-menu__item {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  position: relative;
}
.header-menu__item:hover .dropdown {
  display: block;
  position: absolute;
  background: #514e4e;
  top: 100%;
  padding: 40px 10px 20px;
  min-width: 200px;
  text-align: left;
  left: -20px;
  border-radius: 10px;
  z-index: 3;
}
.header-menu__item:hover .dropdown-item {
  display: block;
  background-color: #514e4e;
  text-decoration: none;
  padding: 20px 0;
  cursor: pointer;
  z-index: 3;
  color: #fff;
  font-size: 0.9em;
}
.header-menu__item:hover .dropdown-item:last-child {
  padding-bottom: 10px;
}
.header-menu__item:hover .dropdown-item:hover {
  color: #efb841;
  transition: background-color, 0.2s ease-in-out;
}
.header-menu__item a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: #fff;
}
.header-menu__item a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.header-menu__contacts span a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: #fff;
}
.header-menu__contacts span a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.dropdown {
  list-style-type: none;
  display: none;
}
.dropdown-item {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}

.main-image {
  width: 100%;
}
.main-image img {
  width: 100%;
  height: auto;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-info img {
  width: 25%;
  height: 350px;
}

.main-cart {
  display: flex;
  flex-direction: row;
  background: #2e2c33;
}
.main-cart__item {
  width: 25%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  color: #fff;
}
.main-cart__item:hover {
  background: #3b873b;
}
.main-cart__item:hover button {
  border: 1px solid #fff;
}
.main-cart__item h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  align-self: center;
  color: #fff;
  padding-bottom: 50px;
}
.main-cart__item p {
  align-self: center;
  padding: 30px 20px;
  text-align: center;
  height: 200px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.main-cart__item button {
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
}
.main-cart__item button:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.main-cart__item button a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
}

.main-advantage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px 0;
  height: fit-content;
}
.main-advantage h3 {
  font-size: 34px;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 50px;
  color: #514e4e;
}
.main-advantage__info {
  display: flex;
  flex-direction: row;
}
.main-advantage__item {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin: 0 auto;
}
.main-advantage__item i {
  color: #3b873b;
  font-size: 50px;
  margin-top: 50px;
}
.main-advantage__item h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  color: #868282;
  font-family: "Roboto";
}
.main-advantage__item p {
  padding-top: 30px;
  font-size: 14px;
  font-family: "Roboto";
}

.faq {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto;
}
.faq h3 {
  position: static;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  width: 100%;
  color: #514e4e;
}
.faq-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.faq__img {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__img p {
  text-transform: uppercase;
  color: #868282;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.faq__img button {
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 20px;
  width: 450px;
  margin-top: 50px;
  background: #3b873b;
}
.faq__img button:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.faq__img img {
  width: 100%;
}
.faq-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.faq-items__item i {
  position: relative;
  top: 30px;
  left: -50px;
  font-size: 30px;
  color: #3b873b;
  cursor: pointer;
}
.faq-items__item h4 {
  color: #2e2c33;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 10px;
}
.faq-items__item h4:hover {
  color: #000;
  cursor: pointer;
}

.main-usage {
  display: flex;
  flex-direction: column;
}
.main-usage h3 {
  text-transform: uppercase;
  font-size: 34px;
  align-self: center;
  color: #514e4e;
  padding-bottom: 50px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  color: #514e4e;
  font-size: 28px;
  margin-top: 40px;
}

.usage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  background: #b0b0b0;
  justify-content: center;
  gap: 30px;
}
.usage-item {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.usage-item h4 {
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 20px 0;
  align-self: center;
}
.usage-item img {
  width: 100%;
  padding: 30px 0;
}
.usage-item button {
  width: 200px;
  height: 50px;
  background: #3b873b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  background: #000;
  width: 120px;
  font-size: 14px;
  margin-bottom: 40px;
  align-self: center;
}
.usage-item button:hover {
  background: #fff;
  color: #3b873b;
  transition: color, 0.2s ease-in-out;
}
.usage-item button a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  cursor: pointer;
}
.usage-item button:hover {
  background: #000;
  color: #fff;
  transform: scale(1.1);
  transition: transform, font-size 0.2s ease-in;
}

footer {
  width: 100%;
  position: inherit;
  bottom: 0;
  left: 0;
  height: 300px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
}

.footer-contacts {
  margin-top: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.footer-contacts h4 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-contacts p {
  font-size: 16px;
}
.footer-contacts p a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  font-weight: 700;
}
.footer-contacts p a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.footer-contacts p i {
  color: #514e4e;
  margin-right: 5px;
}

.footer-menu {
  width: 60%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-menu__item {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.footer-menu__item h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 40px;
}
.footer-menu__item ul li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 20px;
}
.footer-menu__item ul li a {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  color: #efb841;
}
.footer-menu__item ul li a:hover {
  color: #efb841;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  color: #3b873b;
}

/*# sourceMappingURL=style.css.map */
