@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

// Mixins

@mixin standart-link {
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
}

@mixin hovered-link {
    color: #efb841;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

@mixin button {
    width: 200px;
    height: 50px;
    background: #3b873b;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
        background: #fff;
        color: #3b873b;
        transition: color, .2s ease-in-out;
    }
}

@mixin description-text {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

@mixin title_h3 {
    text-transform: uppercase;
    font-size: 34px;
    align-self: center;
    color: #514e4e;
    padding-bottom: 50px;
    letter-spacing: 2px;
    width: 100%;
}

// Common styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

a:active,
a:visited {
    @include standart-link();
    color: inherit;
}


// Header styles start

.header {
    display: flex;
    width: 100%;
    background: #514e4e;
    padding: 20px 0;
    justify-content: space-around;
    margin: 0;

    img {
        width: 200px;
        height: 50px;
    }

    &-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        justify-content: space-around;

        &__items {
            ul {
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;
            }
        }

        &__item {
            @include standart-link();
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
            
            a {
                @include standart-link();
                color: #fff;

                &:hover {
                    @include hovered-link();
                }
            }
        }

        &__contacts {
            span {
                a {
                    @include standart-link();
                    color: #fff;

                    &:hover {
                        @include hovered-link()
                    }
                }
            }
        }
    }
}

// Header styles end

// Main styles start

main {
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        width: 25%;
        height: 350px;
    }
}

.main-cart {
    display: flex;
    flex-direction: row;
    background: #2e2c33;

    &__item {
        width: 25%;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;

        &:hover {
            background: #3b873b;

            button {
                border: 1px solid #fff;
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 1.3em;
            align-self: center;
            color: #fff;
            padding-bottom: 50px;
        }

        p {
            align-self: center;
            padding: 30px 20px;
            text-align: center;
            height: 200px;
            @include description-text();
        }

        button {
            @include button();
            align-self: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    }
}

.main-advantage {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px 0;
    height: fit-content;

        h3 {
            font-size: 34px;
            font-family: 'Roboto';
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 100%;
            margin-top: 50px;
            color: #514e4e;
        }

        &__info {
            display: flex;
            flex-direction: row;
        }

        &__item {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            margin: 0 auto;
        
            i {
                color: #3b873b;
                font-size: 50px;
                margin-top: 50px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 20px;
                margin-top: 20px;
                color: #868282;
                font-family: 'Roboto';
            }

            p {
                padding-top: 30px;
                font-size: 14px;
                font-family: 'Roboto';
            }
        }
}

.faq {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px auto;

    h3 {
        position: static;
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 2px;
        width: 100%;
        color: #514e4e;
    }
    
    &-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__img {
        width: 40%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-transform: uppercase;
            color: #868282;
            font-weight: 700;
            font-size: 30px;
            text-align: center;
            margin-bottom: 50px;
        }

        button {
            @include button();
            font-size: 20px;
            width: 450px;
            margin-top: 50px;
            background: #3b873b;
        }

        img {
            width: 100%;
        }
    }

    &-items {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: left;

        &__item {
            i {
                position: relative;
                top: 30px;
                left: -50px;
                font-size: 30px;
                color: #3b873b;
                cursor: pointer;
            }

            h4 {
                color: #2e2c33;
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 10px;

                &:hover {
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
}

.main-usage {
    display: flex;
    flex-direction: column;

    h3 {
        @include title_h3();
        text-align: center;
        color: #514e4e;
        font-size: 28px;
        margin-top: 40px;
    }
}

.usage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background: #b0b0b0;
    justify-content: center;
    gap: 30px;

    &-item {
        width: 20%;
        display: flex;
        flex-direction: column;

        h4 {
            text-transform: uppercase;
            font-size: 1.1em;
            padding: 20px 0;
            align-self: center;
        }

        img {
            width: 100%;
            padding: 30px 0;
        }
    
        button {
            @include button();
            background: #000;
            width: 120px;
            font-size: 14px;
            margin-bottom: 40px;
            align-self: center;

            &:hover {
                background: #000;
                color: #fff;
                transform: scale(1.1);
                transition: transform, font-size .2s ease-in;
            }
        }
    }
}

// Main styles end

// Footer styles

footer {
    width: 100%;
    position: inherit;
    bottom: 0;
    left: 0;
    height: 300px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
}

.footer-contacts {
    margin-top: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;

    h4 {
        font-size: 18px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p {
        font-size: 16px;

        a {
            @include standart-link();
            font-weight: 700;
            
            &:hover {
                @include hovered-link();
            }
        }

        i {
            color: #514e4e;
            margin-right: 5px;
        }
    }
}

.footer-menu {
    width: 60%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__item {
        height: fit-content;
        display: flex;
        flex-direction: column;

        h4 {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 40px;
        }

        ul {
            li {
                text-decoration:  none;
                list-style-type: none;
                margin-bottom: 20px;

                a {
                    @include standart-link();
                    color: #efb841;

                    &:hover {
                        @include hovered-link();
                        color: #3b873b;
                    }
                }
            }
        }
    }

}

// Footer styles end